:root {
    --color-primary: #917758;
    --color-secundary: #3c2915;
    --color-primary-light: #f5eee6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.container {
    
    width: 1170px;
    margin: 0 auto;
}

/**************************
*           HOME
**************************/

.home {
    position: relative;
    background-size: cover;
    background-image: url(../images/bg-home.jpg);
    background-attachment: fixed;
    height: 100vh;
    
}

.home .header {
    padding: 30px;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    list-style: none;
    display: flex;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.home .header .nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.home .header .nav .logo {
    margin: 0 30px;
}

/**************************
*      HOME - BANNER
**************************/

.home .banner {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
    margin-top: -75px;
}

.home .banner span {
    display: block;
}

.home .banner .slogan {
    color: var(--color-primary);
    letter-spacing: 4px;
    font-size: 14px;
    text-transform: uppercase;
}

.home .banner h1 {
    font-size: 120px;
}

.home .banner img {
    width: 40px;
    margin-top: 15px;
}

/**************************
*          ABOUT
**************************/

.about {
    background-color: var(--color-primary);
}

.about .container {
    display: flex;
}

.about .timing {
    width: 33%;
    padding: 20px;
    background: url(../images/brush-big.jpg);
    position: relative;
    top: -50px;
}

.about .container .overlay {
    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    color: white;
}

.about .timing .icon-cut {
    width: 45px;
    margin-bottom: 0;
}

.about .timing h3 {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    font-size: 30px;
    width: fit-content;
    margin: 0 auto 30px auto;
}

.about .timing .text {
    margin: 10px 0;
}

.about .timing .text:after {
    content: "•";
    display: block;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}

.about .timing .text:last-of-type:after {
    content: "|";
    margin: 20px 0;
}

.about .timing .text h4 {
    color: grey;
    font-weight: 400;
    font-size: 15px;
}

.about .timing span {
    color: white;
    font-size: 15px;
    display: block;
}

/*****************************
*     ABOUT - EXPERIENCE
*****************************/

.about .experience {
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 100px;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
    
}

.about .experience h2:after {
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: #a38f78;
    margin: 20px 0;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;
}

.about .experience .text p {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 17px;
}

/*****************************
*       OUR SERVICES
*****************************/

.services {
    padding: 100px 0;
    text-align: center;
    background-color: var(--color-primary-light);
}

.services h2 {
    color: var(--color-secundary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.services .box {
    border: 3px solid var(--color-primary);
    padding: 50px 40px;
    margin: 30px;
}

.services .box h4 {
    color: var(--color-secundary);
    margin-top: 30px;
}

.services .box p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
}

/*****************************
*        APPOINTMENT
*****************************/

.appointment {
    padding: 100px 0;
    background-color: var(--color-primary);
    height: 100vh;
    background-image: url(../images/chair-ic.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
}

.appointment h2 {
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.appointment img {
    margin: 0 auto;
    display: block;
}

.appointment form {
    margin-top: 80px;
}


.appointment .personal-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.appointment .input-wrapper {
    width: 100%;
    margin-right: 50px;
}

.appointment .input-wrapper:last-of-type {
    margin-right: 0;
}

.appointment label {
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
    color: var(--color-primary-light);
}

.appointment .personal-data input,
.appointment .personal-data select,
.appointment textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.appointment textarea {
    height: 100px;
}

.appointment button {
    background-color: var(--color-secundary);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: bold;
}

/*****************************
*        GALLERY
*****************************/

.gallery {
    
    padding: 100px 0;
    background-color: var(--color-primary-light)
}

.gallery h2 {
    color: var(--color-secundary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.gallery img {
    margin: 0 auto;
    display: block;
}

.gallery .gallery-wrapper {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

.gallery .gallery-wrapper div {
    border: 10px solid var(--color-primary);
    margin: 6px;
    width: 33%;
}


.gallery .gallery-wrapper div img {
    width: 100%;
}

/*****************************
*         LOCATION
*****************************/

.location {
    padding: 100px 0;
    background: url(../images/bg-location.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.location .head {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    padding: 40px;
    width: 100%;
}

.location .head .info {
    display: flex;
    align-items: center;
}

.location .head .info .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
}

.location .head .info .text span {
    display: block;
    font-size: 13px;
}

.location .head .info .text span:first-child {
    color: silver;
}

.location .head .info .text span:last-child {
    color: white;
}

.location .map {
    width: 100%;
}

.location .map iframe {
    width: 100%;
}

/*****************************
*         FOOTER
*****************************/

.footer {
    background-color: #191919;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 12px;
}